@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background-color: darkorange;
}

#main {
    min-height: 100vh;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#add-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #fff;
    padding: 10px 20px;
    color: #000;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#add-btn:hover {
    background-color: #eee;
}

.note {
    background: transparent;
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
}

.tool {
    background-color: #222121;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}
.tool i {
    padding: 5px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.tool i:hover {
    color: #eee;
}

.note textarea {
    width: 300px;
    border: none;
    min-height: 220px;
    resize: none;
    padding: 10px;
    font-size: 16px;
    overflow: hidden;
    color: #fff;
    background-color: #4b4a4a;
    border-radius: 0px 0px 10px 10px;
}
.note textarea:focus {
    outline: none;
}