* {
    margin: 0;
    padding-inline: 0;
    box-sizing: border-box;
}

body {
    background-color: darkorange;
}

#main {
    min-height: 100vh;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}